.app-container {
    width: 100%;
    max-width:100%;
    display: table;
}

.app-container > .app-row {
    width: 100%;
    display: table-row;  
}
.app-container > .app-row > .app-col-3 {
    width: 33%;
    display: table-cell;
    vertical-align: top;
}

.app-container > .app-row > .app-col-3 > .app-content {
    display: block;
    position: relative;
    min-height: 200px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 3px #f8f8ff;
    padding: 5px
}