.title {
    margin: 10px 0;
}
table {
    margin-bottom: 0;
    width : 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}
table > thead > tr,
table > tbody > tr {
    text-align: center;
}
table > thead > tr > th {
    padding: 5px;
    font-size: 12;
    font-weight: bold;
    letter-spacing: .75px;
    color: #49535b;
    background-color: #f4f5f5;
    border-top: 1px solid #c8cbce;
    border-bottom: 1px solid #c8cbce;
    white-space: nowrap;
    line-height: 18px;
    vertical-align: bottom;
    padding: 10;
    text-align: inherit
}

table > tbody > tr > td {
    padding: 5px;
    vertical-align: middle;
    border-bottom: 1px solid #edeeee;
    border-top: 1px solid blue;
    line-height: 18px;
    padding: 10
}